.subMain {
  display: flex;
  justify-content: space-between;
  background-color: #9B9B9B;
  height: 50px;
  width: 100%;
  margin-bottom: 4px;
}

button:focus {
  outline: none;
}

.subBack {
  background-color: #7A7A7A;
  color: white;
  border: none;
  height: 100%;
  width: 150px;
}

.subMiddle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subAction {
  background-color: #007C95;
  color: white;
  border: none;
  margin: 25px;
  border-radius: 10px;
}

.subComments {
  color: #fff;
}

.ratings {
  color: white;
}

.logoutMenu {
  width: 100% !important;
}

.fillings {
  color: white;
}

.subRight {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subDown {
  background-color: #7A7A7A;
  color: white;
  border: none;
  height: 100%;
  width: 100px;
  font-size: 39px;
}

.downArrow {
  margin: 0 !important;
}
